<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fa-solid fa-users fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/signup" class="btn btn-primary mb-2">Sign Up</a>
      <a href="/users/signin" class="btn btn-secondary">Sign In</a>
    </div>
  </div>
</div>
